.add-form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1001;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.save-btn {
  background-color: #06bb3c;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
}

.save-btn:hover {
  background-color: #5cb85c;
}

.cancel-btn {
  background-color: grey;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
}

.cancel-btn:hover {
  background-color: #6c757d;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-form img {
  display: block;
  margin: 10px auto 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .add-form-container {
    width: 90%;
    padding: 15px;
  }
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 8px;
  display: block;
}

.global-error {
  color: red;
  font-size: 1rem;
  margin-bottom: 10px;
}

.input-error {
  border: 1px solid red;
}

img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

