.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.search-bar input {
  width: 350px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
}

.search-bar input:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.search-bar button {
  background-color: #fefefe;
  border: 1px solid #ccc;
  color: #333;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 5px;
}

.search-bar button:hover {
  background-color: #873a3a;
  color: white;
  border-color: #873a3a;
}


@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input {
    width: 100%;
    max-width: 400px;
  }

  .search-bar button {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input {
    width: 100%;
    max-width: 400px;
  }

  .search-bar button {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .search-bar input,
  .search-bar button {
    max-width: 300px;
    font-size: 14px;
  }
}

